body{
    background-color: burlywood;
}
.title{
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
#principal {
    font-size: large;
    color: darkblue;
}
#secundario {
    font-size: large;
    color: yellow;
}